.container-fluid{
  font-family: montserrat;
}
a{
  color: black;
}
.carousel-inner{
  font-family: montserrat;
}
h2{
  font-family: montserrat;
}
.col{
  font-family: montserrat;
}
.chicken{
  height: 50px;
}
.container1{
  display: inline;
}















/*header{
  background-color: tomato;
  padding: 10px;
  text-align: center; 
}
ul
{
  list-style: none;
}
li{
  display: inline;
  margin: 50px;
}
li a{
  text-decoration: none;
  color: black;
  font-family: 'Rubik';
}
li a:hover{
  color: white;
}
h1{
  color: tomato;
  font size: 150%;
  text-shadow: 2px 2px red;
  font-size: xx-large;
  background-color: black;
  padding: 3px;
}
h3{
  color: tomato;
  text-shadow: 1px 1px black;
  background-color: white;
  padding: 2px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  color: black;
  font-family: 'Rubik';
  }
  hr{
    padding: 2px;
    background-color: black;
  }
  h4{
    font-family: 'Rubik';
  }
  p{
    font-family: 'Rubik';
  }
  footer{
    background-color: tomato;
    text-align: center;
    font-family: monospace;
    padding: 8px;
  }
*/
